<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Recipe Home</title>
    </head>


    <body>
        <h1>My Recipes!</h1>

        <table>
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>View</th>
            </tr>

            <tr th:each="recipe : ${recipes}">
                <!--/*@thymesVar id="recipe" type="com.example.recipeproject.domain.Recipe"*/-->
                <td th:text="${recipe.id}">recipe_id</td>
                <td th:text="${recipe.description}">recipe_description</td>
                <td> <a th:href="@{'/recipe/' + ${recipe.id} + '/show/'}"> View </a> </td>
            </tr>
        </table>

        <a th:href="@{/recipe/new}">Add a new recipe!</a>

    </body>
</html>